{% extends 'blog/base.html' %}
{% block pojemnik %}
  <h1>Post view page</h1>
  <div class="container">
    <div class="jumbotron">
      <h2>{{ post.title }}</h2>
      <p>{{ post.text }}</p>
      <p><i>{{ post.author }}</i></p>
    </div>

    <h2>Comments: </h2>
    {% for coms in  post.comments.all %}
      <div class="jumbotron">
        <p>{{ coms.text }}</p>
        <p><i>{{ coms.author }}</i></p>
      </div>
    {% endfor %}

    <a class = 'btn btn-primary' href="{% url 'blog:update' pk=post.pk %}">Update</a>
    <a href="{% url 'blog:delete' pk=post.pk %}">Delete</a>


  </div>
{% endblock %}
